/*
.row {
	margin: 0 auto;
	width: 60%;
}


.column {
	float: left;
	margin-left: 25px;
	margin-top: 25px;
}
*/


body {
	margin-top: 40px;
}

.row {
margin-bottom: 30px;
}

input[type="radio"] {
    margin-right: 5px;
}
input#emoticons, #result {
    font-size: 150%;
    width: 400px
}

.resultaat{
    text-align: left;
    padding-left: 40px;
}

#result {
    height: 200px;
    width: 100%;
    margin-top: 40px;
}

h3 {
	border-bottom: 2px solid red;
	text-align: left;
}

.btn {
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: 40px;
	margin-top: 2px;
	display: inline-flex;
	position: absolute;

}

label {
	font-size: .9rem;
}